*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    background: url(background.png);
    width:100%;
    height:100vh;
    padding:20px;
    display:flex;
    justify-content: center;
    align-content: center;
}
#heading{
    color:rgb(83, 1, 77);
}
.convert{
  max-width: 2000px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
#image{
    font-size: 35px;
    color:rgb(83, 1, 77)
}
.top{
    display: flex;
    align-items: center;
}
.form-group {
    color:rgb(224, 12, 243);
    margin-top: 0.25px;
}
.h1{
    text-align: center;
    margin-bottom: 0.25px;
}
button:hover{
background-color: rgb(253, 181, 241);
}
button{
    background-color: blueviolet;
    color: #fff;
}
#resultOutput{
    color:rgb(90, 3, 64);
    font-weight: 800;
}